include pug/libs/_libs

doctype html
html(lang='en')
	include pug/_head 
	body  
		header.header
		main.main
			.drainage
				.drainage__container
					.drainage__title.bold-hard 
						span Выберете 
						| подходящий дренаж
						span .
					.drainage__subtitle Все материалы, монтаж и уборка входят в стоимость
					.drainage__list
						.drainage__item
							.drainage__item-top
								p.drainage__item-title.bold-light Поверхностный дренаж
							.drainage__item-content
								ul.drainage__works-list 
									li.drainage__works-list-item Забудьте о заболоченности вашего участка
									li.drainage__works-list-item Понижение уровня грунтовых вод
									li.drainage__works-list-item Отведение поверхностных, дождевых и талых вод
									li.drainage__works-list-item Глубина 600-1000 мм от поверхности земли
							.drainage__item-bottom
								.drainage__price.bold-medium от 1100 р/пог.м
								button.drainage__btn Рассчитать стоимость
						.drainage__item
							.drainage__item-top
								p.drainage__item-title.bold-light Глубинный дренаж
							.drainage__item-content
								ul.drainage__works-list 
									li.drainage__works-list-item Забудьте о заболоченности вашего участка
									li.drainage__works-list-item Понижение уровня грунтовых вод
									li.drainage__works-list-item Отведение поверхностных, дождевых и талых вод
									li.drainage__works-list-item Глубина от 1200 мм от поверхности земли
									li.drainage__works-list-item Работает даже зимой
							.drainage__item-bottom
								.drainage__price.bold-medium от 1400 р/пог.м
								button.drainage__btn Рассчитать стоимость
						.drainage__item
							.drainage__item-top
								p.drainage__item-title.bold-light Кольцевой дренаж
							.drainage__item-content
								ul.drainage__works-list 
									li.drainage__works-list-item Избавьтесь от пучения отмостки и дома, размытия грунта под фундаментом
									li.drainage__works-list-item Расположение 1-1,5 метра от фундамента
									li.drainage__works-list-item Глубина зависит от от типа фундамента
									li.drainage__works-list-item Работает даже зимой
							.drainage__item-bottom
								.drainage__price.bold-medium от 1900 р/пог.м
								button.drainage__btn Рассчитать стоимость
						.drainage__item
							.drainage__item-top
								p.drainage__item-title.bold-light Пристенный дренаж
							.drainage__item-content
								ul.drainage__works-list 
									li.drainage__works-list-item Актуален для цокольных и подвальных этажей
									li.drainage__works-list-item Полностью откапываем фундамент
									li.drainage__works-list-item Труба проходит вдоль фундамента дома
									li.drainage__works-list-item Нужно быть очень Внимательным, чтобы не испортить основание фундамента
							.drainage__item-bottom
								.drainage__price.bold-medium ОТ 1900 р/пог.м
								button.drainage__btn Рассчитать стоимость
		footer.footer.bold

