include pug/libs/_libs

doctype html
html(lang='en')
    include pug/_head 
    body  
        header.header Что-то

        main.main Еще что-то
            
        footer.footer.bold И еще что-то
            .div 
                +jpg('ZoR5wFYOzek')
